.loginpage {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";

}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("../../../loginpage.png");
  background-size: cover;
}

.container {
  background-color: rgba(0,0,0,0.6);
  backdrop-filter: blur(10px);
  padding: 2rem;
  border-radius: 10px;
  color: rgb(238, 237, 237);
  border-color: #050505;
  }
  
  h1 {
    color: white;
    font-size: 4rem;
    text-align: center;
    margin-bottom: 6rem;
    animation: glow 4s ease-in-out infinite alternate;
  
  }
  
  @keyframes glow {
    0% {
      text-shadow:
        0 0 4px rgba(255, 255, 255, 0.9),
        0 0 12px rgba(255, 255, 255, 0.5),
        0 0 24px rgba(255, 255, 255, 0.2);
    }
  
    50% {
      text-shadow:
        0 0 2px rgba(255, 255, 255, 0.6),
        0 0 6px rgba(255, 255, 255, 0.3),
        0 0 16px rgba(255, 255, 255, 0.1);
    }
  
    100% {
      text-shadow:
        0 0 4px rgba(255, 255, 255, 0.9),
        0 0 12px rgba(255, 255, 255, 0.5),
        0 0 24px rgba(255, 255, 255, 0.2);
    }
  }

h2 {
  font-size: 2rem;
  text-align: center;
  margin-top: -1rem;
  margin-bottom: 4rem;
}

form {
  margin: 2rem 0;
}

.inputbox {
  position: relative;
  margin: 1.5rem 0;
}

.inputbox input {
  width: 100%;
  height: 3rem;
  border: none;
  outline: none;
  border-bottom: 2px solid #fff;
  background: transparent;
  color: #fff;
  font-size: 1rem;
}

/* email ou mdp*/
.inputbox label {
  position: absolute;
  top: 40%;
  left: 0px;
  color: #d3d3d3;
}

/* Quand on clique sur email ou mdp*/
input:focus~label,
.inputbox input:not(:placeholder-shown)~label {
  top: -10px;
  left: 0;
  color: #ffffff;
  font-size: 1rem;
}

input:focus { 
  outline: none;
  box-shadow: 0 0 9px rgba(145, 145, 145, 0.808);
}


/* Icone */
.inputbox svg {
  position: absolute;
  right: 0;
  top: 30%;
  color: #fcfcfc;
}


button {
  width: 100%;
  height: 3rem;
  font-size: 1rem;
  border: none;
  outline: none;
  border-radius: 2rem;
  margin: 0rem;
}

button:hover {
    box-shadow: 0 0 15px rgba(255,255,255,0.1);
    transform: scale(1.02);
    transition: 0.3s;
}

.forgot {
  text-align: right;
  margin-bottom: 3rem;
  margin-top: -2rem;

}

.forgot a {
  color: #c0bebe;
  font-size: 0.9rem;
}

.forgot a:hover {
  text-decoration: underline;
}

.register {
  margin-top: 1rem;
  text-align: center;
}

.register a {
  color: #a1a1a1;
  font-weight: bold;
}

.register a:hover {
  color: #999696;
  text-decoration: underline;
}

.switch-to-login {
  color: #a1a1a1;;
}

.switch-to-login:hover {
  color: #999696;
  text-decoration: underline;

}